*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
 font-family: system-ui;
}

section {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;

}

article {
    border: 2px solid tomato;
} 